<app-nav></app-nav>

<div class="ps-page--default">
  <div class="container">
    <div class="ps-page__header">
      <h3>{{'session.item_uno' | translate}}</h3>
      <ul class="ps-breadcrumb">
        <li class="active"><a><b>{{'perfil.item_uno' | translate}}</b></a></li>
        <li><a style="cursor: pointer;" [routerLink]="['/cuenta/direcciones']" >{{'perfil.item_dos' | translate}}</a></li>
        <li><a  style="cursor: pointer;" [routerLink]="['/cuenta/pedidos']">{{'perfil.item_tres' | translate}}</a></li>
        <li><a  style="cursor: pointer;" [routerLink]="['/cuenta/reviews']">{{'perfil.item_cuatro' | translate}}</a></li>
       
      </ul>
    </div>
    <div class="ps-page__content">
      <div class="ps-checkout">
        
        <form class="ps-form--checkout" #actualizarForm="ngForm" (ngSubmit)="actualizar(actualizarForm)">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="ps-form__billings">
                <h4 class="ps-form__heading">{{'perfil.item_seis' | translate}}</h4>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{'session.item_ocho' | translate}} <sup>*<sup></sup></sup></label>
                      <input type="text" required class="form-control form-control-lg" name="nombres" [(ngModel)]="cliente.nombres" placeholder="{{'perfil.item_siete' | translate}}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{'session.item_nueve' | translate}} <sup>*<sup></sup></sup></label>
                      <input type="text" required class="form-control form-control-lg" name="apellidos" [(ngModel)]="cliente.apellidos" placeholder="{{'perfil.item_ocho' | translate}}">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>{{'session.item_cinco' | translate}}</label>
                      <input type="email" class="form-control form-control-lg" readonly value="{{cliente.email}}">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>{{'perfil.item_nueve' | translate}}</label>
                      <input type="password" autocomplete="new-password" class="form-control form-control-lg" placeholder="{{'perfil.item_nueve' | translate}}" id="input_password">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{'contacto.item_cuatro' | translate}} <sup>*<sup></sup></sup></label>
                      <input type="number" required class="form-control form-control-lg" placeholder="{{'contacto.item_cuatro' | translate}}" name="telefono" [(ngModel)]="cliente.telefono">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{'perfil.item_diez' | translate}} <sup>*<sup></sup></sup></label>
                      <input type="date" required class="form-control form-control-lg" name="f_nacimiento" [(ngModel)]="cliente.f_nacimiento">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{'perfil.item_once' | translate}} <sup>*<sup></sup></sup></label>
                      <input type="text" required class="form-control form-control-lg" placeholder="12345678" name="dni" [(ngModel)]="cliente.dni">
                    </div>
                  </div>
                  
                  <div class="col-sm-12">
                    <button type="submit" class="ps-btn ps-btn--fullwidth ps-btn--black">{{'perfil.item_doce' | translate}}</button>
                  </div>
                  
                </div>
              </div>
            </div>
          
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
