<app-nav></app-nav>

<div class="container">
  <div class="ps-page--default ps-page--contact">
    <div class="ps-page__content">
      <form class="ps-form--404" action="404-page.html" method="get">
        <div class="ps-form__header"><i class="icon-confused"></i></div>
        <h3>{{'notfound.item_uno' | translate}}</h3>
        <p>{{'notfound.item_dos' | translate}} <a [routerLink]="['/']"> {{'producto.item_diez' | translate}}</a></p>
        
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>

