<app-nav></app-nav>



<div id="homepage-default">

    

  <div *ngIf="descuento_activo != 'undefined'" id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    </ol>
    
    <div class="carousel-inner">
      <div *ngIf="descuento_activo != 'undefined'"  class="carousel-item active">
        <img [src]="url +'obtener_banner_descuento/'+descuento_activo.banner" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h2 data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutLeft" style="color:#000080 !important;">{{descuento_activo.titulo}} <br> {{descuento_activo.fecha_inicio}} hasta {{descuento_activo.fecha_fin}}</h2>
          <a class="ps-link--under" [routerLink]="['/productos']"  data-animation-in="fadeInUp"
                                data-animation-out="animate-out fadeOutDown">{{ 'inicio.item_dieciocho' | translate }}</a>
          
        </div>
      </div>


      <div *ngIf="descuento_activo == 'undefined'"  class="carousel-item active">
        <img src="assets/images/home/banner.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h2 data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutLeft" style="color:#000080 !important;">{{ 'inicio.item_treintauno' | translate }} <br> {{ 'inicio.item_treintados' | translate }}</h2>
          <a class="ps-link--under" [routerLink]="['/productos']"  data-animation-in="fadeInUp"
                                data-animation-out="animate-out fadeOutDown">{{ 'inicio.item_dieciocho' | translate }}</a>
          
        </div>
      </div>


      <div *ngIf="tapa.length > 0"  class="carousel-item">
       
        <img [src]="url +'obtener_imagen/'+tapa[0].imagen1" class="d-block w-100" alt="...">
      
      
        <div class="carousel-caption d-md-block d-md-block">
          <h4 style="color:#000080 !important;">{{tapa[0].texto1}}</h4>
          <p>{{tapa[0].texto2}}</p>
        
        </div>
      
      </div>

      <div *ngIf="tapa.length == 0" class="carousel-item">
       
        <img src="assets/images/home/banner.jpg" class="d-block w-100" alt="...">
      
       
        <div class="carousel-caption d-none d-md-block">
          <h3 style="color:#000080  !important;">Second slide label</h3>
          <p>Some representative placeholder content for the second slide.</p>
        
        </div>
      
      </div>
      
    </div>
   
    <a class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="false"></span>
      <span class="sr-only">{{ 'inicio.item_ventinueve' | translate }}</span>
      
    </a>
   
    <a class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="false"></span>
      <span class="sr-only">{{ 'inicio.item_treinta' | translate }}</span>
    </a>
  </div>


<!--*****************************************************************************************-->
  <!--*****************************************************************************************-->
  <div *ngIf="descuento_activo == 'undefined'" id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/home/banner.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>{{'inicio.item_treintaytres' | translate}}</h3>
        </div>
      </div>
    </div>
  </div>
  <!--<div *ngIf="descuento_activo == 'undefined'" id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    
    
    
    <div class="carousel-inner">

      <div *ngIf="descuento_activo == 'undefined'" class="carousel-item active">
        <img src="assets/images/home/banner.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h2 data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutLeft" style="color:#000080 !important;">{{ 'inicio.item_treintauno' | translate }} <br> {{ 'inicio.item_treintados' | translate }}</h2>
          <a class="ps-link--under" [routerLink]="['/productos']"  data-animation-in="fadeInUp"
                                data-animation-out="animate-out fadeOutDown">{{ 'inicio.item_dieciocho' | translate }}</a>
          
        </div>
      </div>

    
      <div *ngIf="tapa.length > 0"  class="carousel-item active">
       
        <img [src]="url +'obtener_imagen/'+tapa[0].imagen1" class="d-block w-100" alt="...">
      
      
        <div class="carousel-caption d-md-block d-md-block">
          <h4 style="color:#000080 !important;">{{tapa[0].texto1}}</h4>
          <p>{{tapa[0].texto2}}</p>
        
        </div>
      
      </div>

      <div *ngIf="tapa.length == 0" class="carousel-item">
       
        <img src="assets/images/home/banner.jpg" class="d-block w-100" alt="...">
      
       
        <div class="carousel-caption d-none d-md-block">
          <h3 style="color:#000080  !important;">Second slide label</h3>
          <p>Some representative placeholder content for the second slide.</p>
        
        </div>
      
      </div>
      
  </div>-->
   
   
  <!--*****************************************************************************************-->
  <!--*****************************************************************************************-->
  
  
  <!--Ingreso DE CATEGORIAS EN LA VISTA-->
    <div *ngIf="inicio == 'undefined'"  class="ps-home-collection-2">
        <figure>
            <div class="ps-block--collection-2 left">
                <div class="ps-block__thumbnail bg--top-right"
                     data-background="assets/images/home/1.jpg"></div>
                <div class="ps-block__content">
                    <p>#modo</p>
                    <h4>{{ 'inicio.item_dos' | translate }}</h4>
                    <a class="ps-link--under"  [routerLink]="['/productos']">{{ 'inicio.item_seis' | translate }}</a>
                </div>
            </div>
        </figure>
        <figure>
            <div class="ps-block--collection-2 center white">
                <div class="ps-block__thumbnail bg--cover"
                     data-background="assets/images/home/2.jpg"></div>
                <div class="ps-block__content">
                    <p>#modo</p>
                    <h4>{{ 'inicio.item_tres' | translate }}</h4>
                    <a class="ps-link--under"  [routerLink]="['/productos/categoria/accesorios']" >{{ 'inicio.item_seis' | translate }}</a>
                </div>
            </div>
        </figure>
        <figure>
            <div class="ps-block--collection-2 right">
                <div class="ps-block__thumbnail bg--top-left"
                     data-background="assets/images/home/3.jpg"></div>
                <div class="ps-block__content">
                    <p>#modo</p>
                    <h4>Packs</h4>
                    <a class="ps-link--under" [routerLink]="['/productos/categoria/packs']">{{ 'inicio.item_seis' | translate }}</a>
                </div>
            </div>
        </figure>
    </div>
<!--////////////////////////////////////////////////////////////////////////-->
<!--Ingreso DE CATEGORIAS EN LA VISTA-->
<div *ngIf="inicio != 'undefined'" class="ps-home-collection-2">
  <figure *ngFor="let item of inicio;let idx = index">
      <div class="ps-block--collection-2 mx-auto" style="width:300px;">
          <div class="ps-block__thumbnail bg--top-right"><img [src]="url +'obtener_imagen/'+inicio[idx].imagen" alt="img" style="width:400px; height:400px; aline-center">
          </div>
          <div class="ps-block__content">
              <p>#{{ item.categoria}}</p>
              <h4>{{ item.categoria}}</h4>
              <a class="ps-link--under" [routerLink]="['/product/'+item.categoria]">{{ 'inicio.item_seis' | translate }}</a>
          </div>
      </div>
  </figure>
  
</div>
<br>
<!--////////////////////////////////////////////////////////////////////////-->
    <div class="ps-section ps-home-top-sellers">
        <div class="container">
            <div class="ps-section__header">
                <figure>
                    <figcaption>{{ 'inicio.item_cuatro' | translate }}</figcaption>
                    <p>{{ 'inicio.item_cinco' | translate }}</p>
                </figure>
            </div>
            <div class="ps-section__content">
                <div class="ps-product-box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-product--outside small" *ngIf="producto_destacado_uno != undefined">
                                <div class="ps-product__thumbnail" *ngIf="producto_destacado_uno.producto"><img [src]="url +'obtener_portada/'+producto_destacado_uno.producto.portada" alt=""><a
                                    class="ps-product__overlay" [routerLink]="['/productos/'+producto_destacado_uno.producto.slug]" ></a></div>
                                <div class="ps-product__content" *ngIf="producto_destacado_uno.producto">
                                  <a class="ps-product__title" [routerLink]="['/productos/'+producto_destacado_uno.producto.slug]" >
                                    {{producto_destacado_uno.producto.titulo}}
                                  </a>
                                  <ng-container *ngIf="descuento_activo == 'undefined'">
                                  <p class="ps-product__price">
                                      <ng-container *ngIf="currency != 'ARS'">
                                        <span class="text-danger mr-3" *ngIf="producto_destacado_uno.producto.precio_antes_dolares >= 1">
                                          <del>${{producto_destacado_uno.producto.precio_antes_dolares}}</del>
                                        </span>
                                        <span><b>${{producto_destacado_uno.producto.precio_dolar}}</b></span>
                                      </ng-container>
                                      <ng-container *ngIf="currency == 'ARS'">
                                        <span class="text-danger mr-3" *ngIf="producto_destacado_uno.producto.precio_antes_soles >= 1">
                                          <del>$ARS/{{producto_destacado_uno.producto.precio_antes_soles}}</del>
                                        </span>
                                        <span><b>$ARS/{{producto_destacado_uno.producto.precio}}</b></span>
                                      </ng-container>
                                  </p>
                                  </ng-container>
                                    <ng-container *ngIf="descuento_activo != 'undefined'">
                                        <div class="d-flex align-items-center">
                                        <p class="ps-product__price">
                                            
                                            <ng-container *ngIf="currency != 'ARS'">
                                              <span class="h5 d-inline-block text-danger mb-0" *ngIf="producto_destacado_uno.producto.precio_antes_dolares >= 1">
                                                <del>${{producto_destacado_uno.producto.precio_antes_dolares | descuento: descuento_activo.descuento}}</del>
                                              </span>
                                              <span class="h5 d-inline-block text-danger mb-0"><b>${{producto_destacado_uno.producto.precio_dolar | descuento: descuento_activo.descuento}}</b></span>
                                              <del class="d-inline-block ml-2 pl-1 text-muted"><b>${{producto_destacado_uno.producto.precio_dolar}}</b></del>
                                            </ng-container>
                                            <ng-container *ngIf="currency == 'ARS'">
                                              <span class="h5 d-inline-block text-danger mb-0" *ngIf="producto_destacado_uno.producto.precio_antes_soles >= 1">
                                                <del>$ARS/{{producto_destacado_uno.producto.precio_antes_soles | descuento: descuento_activo.descuento}}</del>
                                              </span>
                                              <del class="d-inline-block ml-2 pl-1 text-muted">$ARS/{{producto_destacado_uno.producto.precio_antes_soles}}</del>
                                              <span class="h5 d-inline-block text-danger mb-0"><b>$ARS/{{producto_destacado_uno.producto.precio | descuento: descuento_activo.descuento}}</b></span>
                                              <del class="d-inline-block ml-2 pl-1 text-muted">$ARS/{{producto_destacado_uno.producto.precio}}</del>
                                            </ng-container>
                                       
                                          </p>
                                        </div>
                                        
                                        </ng-container>
                                    <a class="ps-link--under" [routerLink]="['/productos/'+producto_destacado_uno.producto.slug]" >{{ 'inicio.item_siete' | translate }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-product--outside large" *ngIf="producto_destacado_dos != undefined">
                                <div class="ps-product__thumbnail" *ngIf="producto_destacado_dos.producto"><img [src]="url +'obtener_portada/'+producto_destacado_dos.producto.portada"><a
                                    class="ps-product__overlay" [routerLink]="['/productos/'+producto_destacado_dos.producto.slug]"></a></div>
                                <div class="ps-product__content" *ngIf="producto_destacado_dos.producto">
                                  <a class="ps-product__title" [routerLink]="['/productos/'+producto_destacado_dos.producto.slug]">
                                    {{producto_destacado_dos.producto.titulo}}
                                  </a>
                                  <ng-container *ngIf="descuento_activo == 'undefined'">
                                  <p class="ps-product__price" >
                                      <ng-container *ngIf="currency != 'ARS'">
                                        <span class="text-danger mr-3" *ngIf="producto_destacado_dos.producto.precio_antes_dolares >= 1">
                                          <del>${{producto_destacado_dos.producto.precio_antes_dolares}}</del>
                                        </span>
                                        <span><b>${{producto_destacado_dos.producto.precio_dolar}}</b></span>
                                      </ng-container>
                                      <ng-container *ngIf="currency == 'ARS'">
                                        <ng-container  *ngIf="producto_destacado_dos.producto">
                                          <span class="text-danger mr-3" *ngIf="producto_destacado_dos.producto.precio_antes_soles >= 1">
                                              <del>$ARS/{{producto_destacado_dos.producto.precio_antes_soles}}</del>
                                            </span>
                                            <span><b>$ARS/{{producto_destacado_dos.producto.precio}}</b></span>
                                        </ng-container>
                                      </ng-container>
                                    </p>
                                    </ng-container>
                                    <ng-container *ngIf="descuento_activo != 'undefined'">
                                        <div class="d-flex align-items-center">
                                            <p class="ps-product__price" >
                                                <ng-container *ngIf="currency != 'ARS'">
                                                  <span class="h5 d-inline-block text-danger mb-0" *ngIf="producto_destacado_dos.producto.precio_antes_dolares >= 1">
                                                    <del>${{producto_destacado_dos.producto.precio_antes_dolares | descuento: descuento_activo.descuento}}</del>
                                                  </span>
                                                  <!--<del class="d-inline-block ml-2 pl-1 text-muted">${{producto_destacado_dos.producto.precio_antes_dolares}}</del>-->
                                                  <span class="h5 d-inline-block text-danger mb-0"><b>${{producto_destacado_dos.producto.precio_dolar | descuento: descuento_activo.descuento}}</b></span>
                                                  <del class="d-inline-block ml-2 pl-1 text-muted">${{producto_destacado_dos.producto.precio_dolar}}</del>
                                                </ng-container>
                                                <ng-container *ngIf="currency == 'ARS'">
                                                  <ng-container  *ngIf="producto_destacado_dos.producto">
                                                    <span class="h5 d-inline-block text-danger" *ngIf="producto_destacado_dos.producto.precio_antes_soles >= 1">
                                                        <del>$ARS/{{producto_destacado_dos.producto.precio_antes_soles | descuento: descuento_activo.descuento}}</del>
                                                      </span>
                                                      <del class="d-inline-block ml-2 pl-1 text-muted">${{producto_destacado_dos.producto.precio_antes_soles}}</del>
                                                      <span class="h5 d-inline-block text-danger"><b>$ARS/{{producto_destacado_dos.producto.precio | descuento: descuento_activo.descuento}}</b></span>
                                                      <del class="d-inline-block ml-2 pl-1 text-muted">${{producto_destacado_dos.producto.precio}}</del>
                                                  </ng-container>
                                                </ng-container>
                                              </p>
                                        </div>
                                    </ng-container>
                                    <a class="ps-link--under" [routerLink]="['/productos/'+producto_destacado_dos.producto.slug]">{{ 'inicio.item_siete' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ps-product-box reverse" *ngIf="producto_destacado_tres != undefined ||producto_destacado_cuatro != undefined">
                    <div class="row">
                        <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-product--outside large" *ngIf="producto_destacado_tres != undefined">
                                <div class="ps-product__thumbnail" *ngIf="producto_destacado_tres.producto"><img [src]="url +'obtener_portada/'+producto_destacado_tres.producto.portada"><a
                                    class="ps-product__overlay"  [routerLink]="['/productos/'+producto_destacado_tres.producto.slug]"></a></div>
                                <div class="ps-product__content" *ngIf="producto_destacado_tres.producto">
                                  <a class="ps-product__title"  [routerLink]="['/productos/'+producto_destacado_tres.producto.slug]">
                                    {{producto_destacado_tres.producto.titulo}}
                                  </a>
                                  <ng-container *ngIf="descuento_activo == 'undefined'">
                                  <p class="ps-product__price">
                                      <ng-container *ngIf="currency != 'ARS'">
                                        <span class="text-danger mr-3" *ngIf="producto_destacado_tres.producto.precio_antes_dolares >= 1">
                                          <del>${{producto_destacado_tres.producto.precio_antes_dolares}}</del>
                                        </span>
                                        <span><b>${{producto_destacado_tres.producto.precio_dolar}}</b></span>
                                      </ng-container>
                                      <ng-container *ngIf="currency == 'ARS'">
                                        <span class="text-danger mr-3" *ngIf="producto_destacado_tres.producto.precio_antes_soles >= 1">
                                          <del>$ARS/{{producto_destacado_tres.producto.precio_antes_soles}}</del>
                                        </span>
                                        <span><b>$ARS/{{producto_destacado_tres.producto.precio}}</b></span>
                                      </ng-container>
                                    </p>
                                </ng-container>
                                <ng-container *ngIf="descuento_activo != 'undefined'">
                                    <div class="d-flex align-items-center">
                                    <p class="ps-product__price">
                                        <ng-container *ngIf="currency != 'ARS'">
                                          <span class="h5 d-inline-block text-danger mb-0" *ngIf="producto_destacado_tres.producto.precio_antes_dolares >= 1">
                                            <del>${{producto_destacado_tres.producto.precio_antes_dolares | descuento: descuento_activo.descuento}}</del>
                                            <del class="d-inline-block ml-2 pl-1 text-muted">${{producto_destacado_tres.producto.precio_antes_dolares}}</del>
                                          </span>
                                          <span class="h5 d-inline-block text-danger mb-0"><b>${{producto_destacado_tres.producto.precio_dolar | descuento: descuento_activo.descuento}}</b></span>
                                          <del class="d-inline-block ml-2 pl-1 text-muted">${{producto_destacado_tres.producto.precio_dolar}}</del>
                                        </ng-container>
                                        <ng-container *ngIf="currency == 'ARS'">
                                          <span class="h5 d-inline-block text-danger mb-0" *ngIf="producto_destacado_tres.producto.precio_antes_soles >= 1">
                                            <del>$ARS/{{producto_destacado_tres.producto.precio_antes_soles | descuento: descuento_activo.descuento}}</del>
                                            <del class="d-inline-block ml-2 pl-1 text-muted">$ARS/{{producto_destacado_tres.producto.precio_antes_soles}}</del>
                                          </span>
                                          <span class="h5 d-inline-block text-danger mb-0"><b>$ARS/{{producto_destacado_tres.producto.precio | descuento: descuento_activo.descuento}}</b></span>
                                          <del class="d-inline-block ml-2 pl-1 text-muted">$ARS/{{producto_destacado_tres.producto.precio}}</del>
                                        </ng-container>
                                      </p>
                                    </div>
                                  </ng-container>
                                    <a class="ps-link--under"  [routerLink]="['/productos/'+producto_destacado_tres.producto.slug]">{{ 'inicio.item_siete' | translate }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-product--outside small" *ngIf="producto_destacado_cuatro != undefined">
                                <div class="ps-product__thumbnail" *ngIf="producto_destacado_cuatro.producto"><img [src]="url +'obtener_portada/'+producto_destacado_cuatro.producto.portada" alt=""><a
                                    class="ps-product__overlay"  [routerLink]="['/productos/'+producto_destacado_cuatro.producto.slug]"></a></div>
                                <div class="ps-product__content" *ngIf="producto_destacado_cuatro.producto">
                                    <a class="ps-product__title"  [routerLink]="['/productos/'+producto_destacado_cuatro.producto.slug]">
                                      {{producto_destacado_cuatro.producto.titulo}}
                                    </a>
                                    <ng-container *ngIf="descuento_activo == 'undefined'"> 
                                    <p class="ps-product__price">  
                                      <ng-container *ngIf="currency != 'ARS'">
                                        <span class="text-danger mr-3" *ngIf="producto_destacado_cuatro.producto.precio_antes_dolares >= 1">
                                          <del>${{producto_destacado_cuatro.producto.precio_antes_dolares}}</del>
                                        </span>
                                        <span><b>${{producto_destacado_cuatro.producto.precio_dolar}}</b></span>
                                      </ng-container>
                                      <ng-container *ngIf="currency == 'ARS'">
                                        <span class="text-danger mr-3" *ngIf="producto_destacado_cuatro.producto.precio_antes_soles >= 1">
                                          <del>$ARS/{{producto_destacado_cuatro.producto.precio_antes_soles}}</del>
                                        </span>
                                        <span><b>$ARS/{{producto_destacado_cuatro.producto.precio}}</b></span>
                                      </ng-container>
                                    </p>
                                </ng-container>
                                
                                    <ng-container *ngIf="descuento_activo != 'undefined'"> 
                                        <div class="d-flex align-items-center">
                                        <p class="ps-product__price">  
                                          <ng-container *ngIf="currency != 'ARS'">
                                            <span class="h5 d-inline-block text-danger mb-0" *ngIf="producto_destacado_cuatro.producto.precio_antes_dolares >= 1">
                                              <del>${{producto_destacado_cuatro.producto.precio_antes_dolares | descuento: descuento_activo.descuento}}</del>
                                            </span>
                                            <!--<del class="d-inline-block ml-2 pl-1 text-muted">${{producto_destacado_cuatro.producto.precio_antes_dolares}}</del>-->
                                            <span class="h5 d-inline-block text-danger mb-0"><b>${{producto_destacado_cuatro.producto.precio_dolar | descuento: descuento_activo.descuento}}</b></span>
                                            <del class="d-inline-block ml-2 pl-1 text-muted">${{producto_destacado_cuatro.producto.precio_dolar}}</del>
                                          </ng-container>
                                          <ng-container *ngIf="currency == 'ARS'">
                                            <span class="h5 d-inline-block text-danger mb-0" *ngIf="producto_destacado_cuatro.producto.precio_antes_soles >= 1">
                                              <del>$ARS/{{producto_destacado_cuatro.producto.precio_antes_soles | descuento: descuento_activo.descuento}}</del>
                                            </span>
                                            <del class="d-inline-block ml-2 pl-1 text-muted">${{producto_destacado_cuatro.producto.precio_antes_soles}}</del>
                                            <span class="h5 d-inline-block text-danger mb-0"><b>$ARS/{{producto_destacado_cuatro.producto.precio | descuento: descuento_activo.descuento}}</b></span>
                                            <del class="d-inline-block ml-2 pl-1 text-muted">${{producto_destacado_cuatro.producto.precio}}</del>
                                          </ng-container>
                                        </p>
                                    </div>
                                    </ng-container>
                                    <a class="ps-link--under"  [routerLink]="['/productos/'+producto_destacado_cuatro.producto.slug]">{{ 'inicio.item_siete' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ps-section ps-home-product" style="padding-bottom: 60px !important;padding-top: 100px !important;">
        <div class="container">
            <div class="ps-section__header">
                <figure>
                    <figcaption>{{ 'inicio.item_ocho' | translate }}</figcaption>
                    <p>{{ 'inicio.item_nueve' | translate }}</p>
                </figure>
                <ul>
                    <li class="active"><a>{{ 'inicio.item_ocho' | translate }}</a></li>
                    <li><a style="cursor: pointer;" [routerLink]="['/productos']">{{ 'inicio.item_diez' | translate }}</a></li>
                </ul>
            </div>
            <div class="ps-section__content">
                <div class="row" *ngIf="new_productos.length >= 1">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 " *ngFor="let item of new_productos">
                        <div class="ps-product">
                            <div class="ps-product__thumbnail">
                              <img class="ps-product__image"  [src]="url +'obtener_portada/'+item.portada" alt=""/>
                              <img class="ps-product__image-alt" [src]="url +'obtener_portada/'+item.galeria[0].imagen" alt=""/>
                              <a class="ps-product__overlay" [routerLink]="['/productos/'+item.slug]"></a>
                                <div class="ps-product__actions">
                                    <a [routerLink]="['/productos/'+item.slug]"> {{ 'carrito.item_doce' | translate }}</a>
                                </div>
                            </div>
                            <div class="ps-product__content">
                                <a class="ps-product__title" [routerLink]="['/productos/'+item.slug]">{{item.titulo}}</a>
                                  <span><i class="text-warning fa fa-star"></i></span>
                                  <span><i class="text-warning fa fa-star"></i></span>
                                  <span><i class="text-warning fa fa-star"></i></span>
                                  <span><i class="text-warning fa fa-star"></i></span>
                                  <span><i class="text-warning fa fa-star"></i></span>
                                  <ng-container *ngIf="descuento_activo == 'undefined'">
                                  <p class="ps-product__price">
                                      <ng-container *ngIf="currency != 'ARS'">
                                        <span class="text-danger mr-3" *ngIf="item.precio_antes_dolares >= 1">
                                          <del>${{item.precio_antes_dolares}}</del>
                                        </span>
                                        <span><b>${{item.precio_dolar}}</b></span>
                                      </ng-container>
                                      <ng-container *ngIf="currency == 'ARS'">
                                        <span class="text-danger mr-3" *ngIf="item.precio_antes_soles >= 1">
                                          <del>$ARS/{{item.precio_antes_soles}}</del>
                                        </span>
                                        <span><b>$ARS/{{item.precio}}</b></span>
                                      </ng-container>
                                    </p>
                                </ng-container>
                                    <ng-container *ngIf="descuento_activo != 'undefined'"> 
                                        <div class="d-flex align-items-center">
                                            <p class="ps-product__price">
                                                <ng-container *ngIf="currency != 'ARS'">
                                                  <span class="h5 d-inline-block text-danger mb-0" *ngIf="item.precio_antes_dolares >= 1">
                                                    <del>${{item.precio_antes_dolares | descuento: descuento_activo.descuento}}</del>
                                                  </span>
                                                  <!--<del class="d-inline-block ml-2 pl-1 text-muted">${{item.precio_antes_dolares}}</del>-->

                                                  <span class="h5 d-inline-block text-danger mb-0"><b>${{item.precio_dolar | descuento: descuento_activo.descuento}}</b></span>
                                                  <del class="d-inline-block ml-2 pl-1 text-muted">${{item.precio_dolar}}</del>
                                                </ng-container>
                                                <ng-container *ngIf="currency == 'ARS'">
                                                  <span class="h5 d-inline-block text-danger *ngIf="item.precio_antes_soles >= 1">
                                                    <del>$ARS/{{item.precio_antes_soles | descuento: descuento_activo.descuento}}</del>
                                                  </span>
                                                  <del class="d-inline-block ml-2 pl-1 text-muted">$ARS/{{item.precio_antes_soles}}</del>
                                                  <span class="h5 d-inline-block text-danger"><b>$ARS/{{item.precio | descuento: descuento_activo.descuento}}</b></span>
                                                  <del class="d-inline-block ml-2 pl-1 text-muted">$ARS/{{item.precio}}</del>
                                                </ng-container>
                                              </p>
                                        </div>
                                    </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="new_productos.length == 0">
                    <div class="col-12 text-center">
                      <h3>{{ 'carrito.item_trece' | translate }}</h3>
                    </div>
                </div>
            </div>
            <div class="ps-section__footer"><a class="ps-link--under" [routerLink]="['/productos']">{{ 'inicio.item_seis' | translate }}</a></div>
        </div>
    </div>

    <div class="ps-home-blog" style="padding-top: 70px !important;padding-bottom: 70px !important;background: #f0f0f0;">
      <div class="container">
          <div class="ps-section__header">
              <figure>
                  <figcaption>{{ 'inicio.item_doce' | translate }}</figcaption>
                  <p>{{ 'inicio.item_trece' | translate }}</p>
              </figure>
          </div>
          <div class="ps-section__content">
              <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                      <div class="ps-post" *ngIf="parte1[0]">
                          <div class="ps-post__thumbnail"><img style="height:246px;" [src]="url +'obtener_imagen/'+parte1[0].imagen1" alt=""><a
                              class="ps-post__overlay" [routerLink]="['/nosotros']"  ></a></div>
                          <div class="ps-post__content"><a class="ps-post__title" [routerLink]="['/nosotros']">{{ parte1[0].texto1a }}</a>
                              <a class="ps-link--under ps-post__morelink" [routerLink]="['/nosotros']"> {{ parte1[0].titulo0 }}</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <div class="ps-post" *ngIf="parte2[0]">
                        <div class="ps-post__thumbnail"><img [src]="url +'obtener_imagen/'+parte2[0].imagen1" style="height:246px;" alt=""><a
                            class="ps-post__overlay" [routerLink]="['/impacto-social']"></a></div>
                        <div class="ps-post__content"><a class="ps-post__title" [routerLink]="['/impacto-social']">
                            {{ parte2[0].texto1 }}
                        </a>
                            <a class="ps-link--under ps-post__morelink" [routerLink]="['/impacto-social']"> {{ parte2[0].titulo0 }}</a>
                        </div>
                    </div>
                </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                      <div class="ps-post" *ngIf="parte3[0]">
                          <div class="ps-post__thumbnail"><img [src]="url +'obtener_imagen/'+parte3[0].imagen1" style="height:246px;" alt=""><a
                              class="ps-post__overlay" [routerLink]="['/embajadoras']" ></a></div>
                          <div class="ps-post__content"><a class="ps-post__title" [routerLink]="['/embajadoras']" >
                            {{parte3[0].textoa}}
                          </a>
                              <a class="ps-link--under ps-post__morelink" [routerLink]="['/embajadoras']">  <a class="ps-link--under ps-post__morelink" [routerLink]="['/embajadoras']"> {{ 'menu.item_ocho' | translate }}</a></a>
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
   </div>

   <div class="ps-section--instagram">
    <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="0"
         data-owl-nav="false" data-owl-dots="false" data-owl-item="7" data-owl-item-xs="3" data-owl-item-sm="4"
         data-owl-item-md="5" data-owl-item-lg="6" data-owl-duration="1000" data-owl-mousedrag="off">
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
    </div>
    </div>
</div>


<div class="ps-section--instagram">
    <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="0"
         data-owl-nav="false" data-owl-dots="false" data-owl-item="7" data-owl-item-xs="3" data-owl-item-sm="4"
         data-owl-item-md="5" data-owl-item-lg="6" data-owl-duration="1000" data-owl-mousedrag="off">
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
    </div>
</div>

<app-footer></app-footer>